
main img, main.introduction video
{
    width: 293px;
    margin-left: 41px;
    margin-right: 41px;
}

main.introduction video
{
    margin-bottom: 21px;
}

p, h2
{
    margin: auto 19px auto 19px;
}

p
{
    margin: 0 19px 24px 19px;
}

h2
{
    margin-bottom: 21px;
    margin-top: 35px;
}

header
{
    margin-bottom: 19px;
}

.article_suivant
{
    width: 188.5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5E7C0;
    padding: 5px 0 5px 0;
    margin-bottom: 24px;
}

.consulter_etude
{
    width: 188.5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5E7C0;
    padding: 5px 0 5px 0;
    margin-bottom: 24px;
}

.article_suivant span
{
    color: #021036;
    margin-bottom: 0;
}

blockquote
{
    color: #F5E7C0;
}

.etude_sc p
{
    margin-bottom: 0.5rem;
}

main.introduction .images_intro img
{
    display: inline-block;
    width: 150px;
    margin: auto;
}

main.introduction .images_intro
{
    display: inline-block;
    margin: auto 33.31px;
}


header
{
    position: fixed;
    top: 0;
    background-color: #021036;
    width: 100%;
    height: 75px;
}

main
{
    margin-top: 80px;
}