body {
    position: relative;
    margin: 0;
}

.nav-toggle {
    width: 38px;
    height: 28px;
    position: absolute;
    top: 25px;
    left: 321px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar, 
.nav-toggle-bar::before, 
.nav-toggle-bar::after {
    content: "";
    background-color: #DC091D;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
}
.nav-toggle-bar::before {top: -10px;}
.nav-toggle-bar::after {top: 10px;}

/*menu*/
.menu{
    visibility:hidden;
    background-color: #F5E7C0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateX(100vw);
    transition: 0.6s;
}
.menu-open .menu{
    visibility: visible;
    transform: translateX(0);
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
    
}
.menu li{ margin-bottom: 15px; }
.menu a{
    text-decoration: none;
    color: white;
}
.hexagone {
    position: relative;
    /* Pour rendre responsive mettre width à 100% ;*/
    width: 120px;
    visibility: hidden;
    overflow: hidden;
}
.hexagone:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    display: block;
    margin-top: 28.86751%;
    padding-bottom: 86.602%;
}
.hexagone .hexagonemain{
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 115.47005%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    z-index: 1;
}
.hexagone .hexagonemainbefore{
    content: "";
    display: block;
    position: absolute;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #021036;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}
.hexagone .hexagonecontent {
    overflow-y: auto;
    width: 70%;
    display: block;
    position: absolute;
    visibility: visible;
    z-index: 3;
    color: #F5E7C0;
    top: 65%;
    left: 32%;
}
.hexagone { transform: rotate(30deg); }

.menu_boutons span {
    transform: rotate(-30deg);
    height: 35px;
    text-align: center;
}
.menu_introduction,.menu_problemes,.menu_solutions,.menu_contact,.menu_si_vous_avez_aime,.menu_a_propos {
    display: block;
    position: absolute;
}

.menu_problemes,.menu_contact { left: 12px; }
.menu_introduction,.menu_a_propos { left: 122px; }
.menu_solutions,.menu_si_vous_avez_aime { left: 232px; }

.menu_introduction { top: 320px; }
.menu_problemes,.menu_solutions { top: 383px; }
.menu_contact,.menu_si_vous_avez_aime { top: 510px;}
.menu_a_propos { top: 572px; }

.e_menu img {
    position: absolute;
    top: 485px;
    left: 150px;
}
.menu h1 {
    position: absolute;
    top: 51px;
    left: 18px;
}
.menu p {
    position: absolute;
    top: 155px;
    left: 12px;
}