body {
    width: 375px;
}
p {
    margin: 0 19px 0 19px;
}
body.index { background-color: white; }

header .logo img {
    height: 52px;
    margin: 10px 16px 0 34px;
    position: relative;
}
header>h1 {
    text-indent: -9999px;
    display: none;
}
main.accueil {
    height: 694px;
    margin-top: 53px;
}
.accueil>p,.menu p {
    margin: 0 6px 0 6px;
}
.image_accueil {
    position: relative;
}
.image_accueil .pitch p {
    position: absolute;
    top: 150px;
    width: 155px;
}
.accueil .image_accueil img {
    margin-top: 92px;
}
.index .down {
    height: 812px;
    margin-top: 0;
    background-image: url("../img/img_centre.jpg");
}
.index .down h3 {
    margin-top: 0;
    padding-top: 15px;
}
body.index footer { position: absolute; }

footer {
    position: absolute;
}

footer { bottom: 0; }

footer .contact {
    margin-top: 17px;
    margin-bottom: 30px;
}
footer .me_contacter,footer .a_propos {
    display: inline-block;
    width: 100px;
    margin: 0 10px 0 10px;
}
.fleche img,.fleche {
    margin: auto;
    position: relative;
    height: 256px;
    width: 300px;
    display: block;
}
.fleche_content, .fleches h3 {
    overflow-y: auto;
    width: 100%;
    position: absolute;
    visibility: visible;
    z-index: 3;
    top: 80px;
    text-align: center;
}
.fleches span {
    width: 186px;
    height: 66px;
    top: 135px;
    left: 57px;
    vertical-align: middle;
}
.fleches h3 {
    height: 25px;
}
.intro,.problemes,.solutions {
    position: absolute;
}
.fleches {
    position: relative;
}
.intro {
    top: 25px;
}
.problemes {
    top: 225px;
}
.solutions {
    top: 425px;
}
.intro,.problemes,.solutions {
    left: 37px;
}

body { background-color: #021036; }

