.images_galerie img {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    border: none;
    height: 150px;
    width: 130px;
    position: absolute;
    margin: 0;
    z-index: -1;
}

polygon {
    position: absolute;
}

.images_galerie {
    position: relative;
    height: 300px;
}

.images_galerie img:first-of-type { /*total recall*/
    left: 140px;
}

.images_galerie img:nth-child(2) { /*matrix*/
    top: 120px;
    left: 72.5px;

}

.images_galerie img:nth-child(3) { /*blade runner*/
    top: 120px;
    left: 207.5px;
}

.images_galerie img:nth-child(4) { /*social network*/
    left: 275px;
}

.images_galerie img:nth-child(5) { /*black mirror*/
    top: 120px;
    left: 342.5px;
}

.images_galerie img:nth-child(6) { /*mr robot*/
    left: 0;
    margin-left: 5px;
    margin-right: 20px;
}

.images_galerie img:nth-child(7) { /*rpo*/
    left: 410px;
}

.images_galerie img:nth-child(8) { /*inception*/
    top: 120px;
    left: 477.5px;
}

.images_galerie img:nth-child(9) { /*terminator*/
    left: 545px;
}

.images_galerie img:nth-child(10) { /*real humans*/
    top: 120px;
    left: 612.5px;
    padding-right: 5px;
}

.images_galerie {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 50px;
}

.ligne {
    width:747.5px;
    height:15px;
    background: #F5E7C0;
    position: absolute;
    top: 127.5px;
    z-index: -2;
}

